@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css');
html,
body.custom-background{
    background: url("https://cdn.pixabay.com/photo/2021/11/19/15/21/christmas-6809681_1280.png") no-repeat center center fixed !important;
    background-size: cover !important;
     text-align: center !important;
     margin:0 !important;
    }
.vstack{
  margin: 0 !important;
  position: absolute !important;
  top: 40% !important;
  left: 50% !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
}
.card-div{
  margin: 0 !important;
  position: absolute !important;
  top: 40% !important;
  left: 50% !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
}
